html,
body,
div,
span,
applet,
object,
iframe,
h1,
h2,
h3,
h4,
h5,
h6,
p,
blockquote,
pre,
a,
abbr,
acronym,
address,
big,
cite,
code,
del,
dfn,
em,
font,
img,
ins,
kbd,
q,
s,
samp,
small,
strike,
strong,
sub,
sup,
tt,
var,
dl,
dt,
dd,
ol,
ul,
li,
fieldset,
figure,
form,
label,
legend,
table,
caption,
tbody,
tfoot,
thead,
tr,
th,
td {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-weight: inherit;
  font-style: inherit;
  font-size: 100%;
  font-family: inherit;
  vertical-align: baseline;
}
/* remember to define focus styles! */
:focus {
  outline: 0;
}
body {
  line-height: 1;
  color: #000;
  background: #fff;
}
ol,
ul {
  list-style: none;
}
/* tables still need 'cellspacing="0"' in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}
caption,
th,
td {
  text-align: left;
  font-weight: normal;
}
blockquote:before,
blockquote:after,
q:before,
q:after {
  content: "";
}
blockquote,
q {
  quotes: "" "";
}
blockquote p {
  border-left: 5px #d7d7d7 solid;
  padding: 10px;
  padding-left: 15px;
  margin-left: -20px;
  background-color: #eee;
}
/* General Styles */
html {
  margin: 0;
}
body {
  font: 72.7% "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  color: #333;
  background-color: #fff;
}

h1 {
  font-size: 6em;
  font-family: Helvetica Neue, Impact, Haettenschweiler, "Arial Narrow Bold",
    sans-serif;
  font-weight: 500;
  letter-spacing: -2px;
}
h2 {
  font-size: 3em;
}
h3 {
  font-size: 2.2em;
  margin: 15px 0 5px;
}
h4 {
  font-size: 1.6em;
  margin-bottom: 0.4em;
  font-weight: 600;
}

.article h1,
h2,
h3 {
  text-shadow: 1px 1px 1px #d7d7d7;
  font-weight: bold;
  margin-bottom: 0.4em;
}

p {
  font-size: 1.6em;
  margin-bottom: 1.2em;
  line-height: 1.7em;
}

p + ul,
p + ol {
  margin-top: -1.4em;
}
main > ul,
div > ul,
section > ul,
main > ol,
div > ol,
section > ul {
  margin-bottom: 1.6em;
}
main > ol > li,
div > ol > li,
section > ul > li,
main > ul > li,
div > ul > li,
section > ul > li {
  font-size: 1.6em;
}
ol li,
ul li {
  list-style-type: disc;
  margin-left: 25px;
  padding-bottom: 5px;
  line-height: 1.6em;
}
ol li {
  list-style-type: decimal;
}
li.task-list-item {
  list-style-type: none;
}
li.task-list-item > input,
li.task-list-item > p {
  margin-left: -25px;
}
li.task-list-item input[type="checkbox"] {
  margin-right: 8px;
}
ul > li > p {
  font-size: inherit;
  padding-bottom: 10px;
}
ul li a {
  font-weight: 500;
}
ul li span.topic-badge {
  background-color: #4695f6;
  color: #fff;
  padding: 3px 7px;
  font-size: 0.9em;
  border-radius: 3px;
}

em {
  font-style: italic;
}

a {
  color: rgb(7, 110, 129);
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}

strong {
  font-weight: 600;
}
.small {
  font-size: 1.2em;
}
.updated {
  color: #666;
  padding-left: 8px;
}

/* Structure */
#content,
#header,
#header-tight,
#footer {
  margin: 0 auto;
  width: 760px;
  overflow: visible;
  position: relative;
}

/* Header/title */
header {
  text-align: center;
  border-bottom: 2px solid #d7d7d7;
  background-color: #e7e7e7;
}
header h1 {
  color: #333;
}
header h1 a {
  text-shadow: 4px 3px rgba(0, 0, 0, 0.43);
  color: #333;
  transition: text-shadow 400ms ease-in-out, color 400ms ease-in-out;
}
header h1 a:hover {
  text-decoration: none;
  color: #666;
  text-shadow: 4px 3px rgba(0, 0, 0, 0.3);
  transition: text-shadow 100ms ease-in-out, color 100ms ease-in-out;
}

/* Tight header for subpages */
#header-tight {
  height: 34px;
  margin: 10px auto;
}

#header-tight h1 {
  display: inline-block;
  font-size: 28px;
  text-shadow: 1px 1px #ccc;
  color: #444;
  letter-spacing: 0;
}
#header-tight h1 a {
  text-decoration: none;
  color: #444;
}
#header-tight h1 a {
  -moz-transition-property: color;
  -moz-transition-duration: 1s;
  /* WebKit */
  -webkit-transition-property: color;
  -webkit-transition-duration: 1s;
  /* Opera */
  -o-transition-property: color;
  -o-transition-duration: 1s;
  /* Standard */
  transition-property: color;
  transition-duration: 1s;
}
#header-tight h1 a:hover {
  color: rgb(65, 131, 196);
}
#header-tight p {
  display: inline-block;
  font-size: 16px;
  margin-left: 10px;
  opacity: 0.5;
  /* Firefox */
  -moz-transition-property: opacity;
  -moz-transition-duration: 0.2s;
  /* WebKit */
  -webkit-transition-property: opacity;
  -webkit-transition-duration: 0.2s;
  /* Opera */
  -o-transition-property: opacity;
  -o-transition-duration: 0.2s;
  /* Standard */
  transition-property: opacity;
  transition-duration: 0.2s;
}
#header-tight p:hover {
  opacity: 1;
}
#header-tight img.portrait {
  position: absolute;
  top: -5px;
  right: 0px;
  width: 38px;
  height: 38px;
  padding: 2px;
  z-index: 10;
  -webkit-transition: all 0.2s ease-out;
}
#header-tight img.portrait:hover {
  -webkit-transform: scale(3) translate(-16px, 16px) rotate(3deg);
}

/* Content */
#content {
  padding: 30px 0;
}

.project-link {
  font-weight: 700;
}

.portrait {
  float: right;
  width: 180px;
  height: 180px;
  background-color: #fff;
  padding: 3px;
  border: 2px solid #d7d7d7;
}

.left-title {
  display: inline-block;
  margin-right: 5px;
  font-weight: normal;
}
.left-title + p {
  font-size: 1.8em;
  text-shadow: 1px 1px 1px #fff;
  margin-bottom: 0.8em;
}

#content.office-hours {
  padding-top: 5px;
}

.strikethrough {
  text-decoration: line-through;
}

#content-wrap {
  background-color: #efefef;
  border-top: 1px solid #ccc;
  border-bottom: 1px solid #ccc;
}

h2.office-hours {
  letter-spacing: 0;
  margin-top: 10px;
  margin-bottom: -10px;
  text-shadow: 3px 3px 0px #999;
}
p.subtitle {
  /*border-top: 5px solid #444;*/
}
p.subtitle em {
  text-shadow: 1px 1px #999;
}

ul.questions {
  display: inline-block;
  width: 390px;
  vertical-align: top;
  margin-top: 60px;
  margin-right: 1px;
}

ul.questions li {
  list-style-type: none;
  margin: 0 0 3px 0;
  font-size: 18px;
  width: 390px;
  text-align: center;
}

ul.questions li em {
  text-shadow: 2px 2px 0px #ccc;
}

span.curly-brace {
  font-family: Lucida Grande, Arial, sans-serif;
  display: inline-block;
  font-size: 350px;
  line-height: 1em;
  margin-right: 1px;
  text-shadow: 3px 3px 0px #999;
  width: 120px;
}

div.lets-talk {
  width: 200px;
  display: inline-block;
  margin-top: 175px;
  margin-left: 10px;
  margin-right: 1px;
  vertical-align: top;
}
div.lets-talk p {
  font-size: 34px;
  margin-bottom: 0;
}
div.lets-talk p em {
  font-style: italic;
  text-shadow: 1px 1px #999;
}
div.lets-talk a.book-me-link {
  cursor: pointer;
  display: block;
  width: 200px;
  text-decoration: none;
  white-space: nowrap;
}
a.book-me-link:hover span.book-me:after {
  content: " \00bb";
}

div.lets-talk a.book-me-link span.book-me {
  display: block;
  font-size: 44px;
  font-weight: bold;
  text-transform: uppercase;
  letter-spacing: -2px;
  text-shadow: 3px 3px 0px #bacce0;
  margin-bottom: -5px;
}
div.lets-talk a.book-me-link span.on-ohours {
  font-size: 14px;
  font-style: italic;
  float: right;
}

#content p.expectations {
  margin: 10px 0 15px;
}

#content p.expectations strong {
  text-shadow: 2px 2px 0px #ddd;
}

#content h3.what-do-i-get {
  margin-top: 30px;
}
#content h3.what-to-expect {
  margin-top: 60px;
}

.pull-right {
  float: right;
}

.hide {
  display: none;
}

/* Articles */
.article h1 {
  font-size: 4em;
  letter-spacing: 0;
}

.article img {
  border-radius: 10px;
}
.article .gatsby-resp-image-figcaption {
  padding-top: 5px;
  font-size: 0.8em;
  text-align: center;
  color: #999;
}

.video-container {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 35px;
  margin-bottom: 20px;
  height: 0;
  overflow: hidden;
  border-radius: 10px;
}

.video-container iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.article-warning {
  border: 2px solid #c7c7c7;
  padding: 10px 20px;
  background-color: #faeee7;
  border-radius: 10px;
  margin-bottom: 10px;
}
.article-warning p {
  margin-bottom: 0;
}
/* Footer */
footer {
  text-align: center;
  color: #333;
  background-color: #e7e7e7;
  border-top: 2px solid #d7d7d7;
  padding-top: 30px;
  padding-bottom: 15px;
}

footer p {
  font-size: 1.6em;
  text-shadow: 1px 1px #c7c7c7;
}
